* {
    box-sizing: border-box;
}

.right-btns {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    margin: 20px 0;
}

tr {
    border-bottom: 1px solid silver;
}

td {
    padding: 2px 8px;
}

td:nth-child(1) {
    min-width: 80px;
}

td:nth-child(2) {
    width: 100%;
}

td:nth-child(3) {
    min-width: 160px;
}

td:nth-child(4) {
    min-width: 160px;
}

tr:hover {
    background: #eee;
}
